.speech {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    color: black
}

.stage-direction {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    background-color: hsla(89, 43%, 51%, 0.3);
}
   
.name {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    color: black;
}  

p:hover {
    background-color:springgreen;
    color: rgb(91,158, 91);
}

.FIRST_CITIZEN {
    color: rgb(145,78, 223);
}

.SECOND_CITIZEN {
    color: rgb(134,158, 180);
}

.THIRD_CITIZEN {
    color: rgb(34,68, 143);
}

.TIPSTAFF {
    color: rgb(191,133, 91);
}
  
#tableStyle{
    border-style: dashed;
    border-color:rgb(125, 165, 118);
    text-align: center;
    margin: 25px 0px 0px 350px;
}

tr:nth-child(even) {background-color: rgb(220, 94, 78);}

 .columnNrow{
    border-style: double;
    border-color: rgb(73, 177, 41);
    padding: 15px;
}

h6:hover{
    
    text-shadow: 2px 2px rgb(163, 99, 163);
    border-style: groove;
    border-color: rgb(19, 137, 235);
}